body{
    background-image: url(Background.jpeg);
    color: bisque;
}

p{
    color: rgb(178, 134, 68);
}
.firstDiv {
    position: fixed;
    border: 2px solid;
    width: 80px;
    height: 80px;
    background-color: bisque;
}

.overFlow{
    height: 100px;
    color: rgb(199, 213, 225);
    border: 2px solid red;
    overflow: auto;
}

.conbinators + p{
    color: bisque;
}

.conbinators p{
    color: rgb(10, 96, 133);
}

.conbinators > p{
    background-color: rgb(38, 38, 20);
}
.conbinators p::first-line{
    color: bisque;
}

.list{
    color: beige;
}
.list li::after{
    content: "😂";
}

.list li::marker{
    content: "❣️";
}

a:link{
    color: aquamarine;
}

a:visited{
    color: azure;
}

a:hover{
    color: cornsilk;
}
a:active{
    color: violet;
}

.links{
    margin-left: 500px;
}
.links a{
    padding: 5px 15px;
    text-decoration: none;
    border: 1px solid white;
    border: none;
    font-size: 30px;
    background-color: rgb(28, 65, 98);
}

.dropdown {
    display: inline-block;
}

.dropdown button{
    background-color: rgb(17, 85, 62);
    color: aliceblue;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .names{
    display: none;
    position: absolute;
    background-color: rgb(127, 91, 45);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(55, 21, 21);
}

.dropdown:hover .names{
    display: block;
}

.dropdown:hover button{
    background-color: cadetblue;
}

.dropdown a:hover{
    background-color: aquamarine;
}



